<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Techn0mad</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet">
  </head>

  <body>
    {% include header.liquid %}
    <hr>
    {{ content | safe }}
    <hr>
    {% include footer.liquid %}
  </body>

</html>
