<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Techn0mad</title>
    </head>
    <body>
        <h1>{{ pageTitle }}</h1>

        {{ content }}
    </body>
</html>
