<h4>Posts</h4>
<ul>
{% for post in collections.posts | reverse %}
  <li class="post">
    <span>
      {% if post.data.externalLink %}
        <a href="{{ post.data.externalLink | url }}" target="__blank">{{ post.data.title }}</a>
      {% else %}
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      {% endif %}
    </span>
    <span>
      {{ post.date.toDateString() }}
    </span>
  </li>
{% endfor %}
</ul>
